<% if @user.errors.any? %>
<b>Errors:</b>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.text_field :name, placeholder: 'name', class: 'field' %>

  <%= f.email_field :email, placeholder: 'email', class: 'field' %>

  <%= f.password_field :password, placeholder: 'password', class: 'field' %>

  <%= f.password_field :password_confirmation, placeholder: 'confirm password', class: 'field' %>

  <%= f.text_field :tagline, placeholder: 'tagline', class: 'field' %>


  <%= f.text_field :location, placeholder: 'location', class: 'field' %>
  
  <%= f.number_field :fee_range, in: 0..10000.0, step: 10, placeholder: 'minimum fee (in USD)', class: 'field' %>

  <%= f.url_field :website, placeholder: 'website', class: 'field' %>

  <div class="col-md-8"><%= f.text_area :bio, placeholder: 'bio', class: 'field', id: 'bio' %></div>
  
  <div id="choose-file"><%= f.file_field :avatar, class: 'photo-field' %></div>

  <%= f.submit "Submit", id: 'submit' %>
<% end %>
