  <% if @user.errors.any? %>
  <b>Errors:</b>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= form_for @user do |f| %>
    <div><%= f.text_field :name, placeholder: 'name', class: 'field' %></div>

    <div><%= f.text_field :email, placeholder: 'email', class: 'field' %></div>

    <div><%= f.password_field :password, placeholder: 'password', class: 'field'  %></div>

    <div><%= f.password_field :password_confirmation, placeholder: 'confirm password', class: 'field'  %></div>

    <%= f.submit "Submit", id: 'submit' %>
  <% end %>
