<div class="container">
  <div class="col-sm-4">
    <div><%= image_tag @user.avatar.url, class: "profile-pic" %></div>
    <p class="field2"><%= @user.location %></p>
    <p class="field2"><%= @user.fee_range %></p>
    <p class="field2"><%= @user.website %></p>
  </div>
  <div class="col-sm-8">
    <h1><%= @user.name.capitalize %></h1>
    <p><%= @user.tagline %></p>
    <p><%= @user.bio %></p>

  </div>

  <button class="btn btn-default" id="edit_btn"><%= link_to "Edit", edit_user_path(@user) %></button>

</div>

