<div class="container">
  <h1>Speakers</h1>
  <div class="col-sm-4">
    Search Section
  </div>
  <div class="col-sm-8">
      Speakers
    <% @users.each do |user| %>
      <div class="row event-blob">
        <ul>
          <li><%= user.name %></li>
          <li><%= user.email %></li>
          <li><%= user.bio %></li>
          <li><%= user.fee_range %></li>
          <li><%= user.website %></li>
        </ul>
      </div><hr>
    <% end %>
  </div>
</div>
