<div class="container">
  <h1>Events</h1>
  <div class="col-sm-4">
    Search Section
  </div>
  <div class="col-sm-8">
    Events
    <% @events.each do |event| %>
      <div class="row event-blob">
        <%= image_tag event.photo.url, class: "event-pic" %>
        <ul>
          <li class="name"><a href="/events/<%= event.id %>"><%= event.name %></li></a>
          <li class="city"><%= event.location %></li>
          <li>Tagline: <%= event.tagline %></li>
          <li>Topics: <%= event.topics %></li>
          <li>Description: <%= event.description %></li>
          <li class="date"><%= event.date %></li>
          <li><%= event.website %></li>
        </ul>
      </div><hr>
    <% end %>
  </div>
</div>
