<div class="container">
  <h1>Events</h1>
  <div class="col-sm-4">
    Search Section
  </div>
  <div class="col-sm-8">
    Events
    <% @events.each do |event| %>
      <div class="row event-blob">
        <%= image_tag event.photo.url, class: "event-pic" %>
        <ul>
          <li><%= event.name %></li>
          <li><%= event.location %></li>
          <li><%= event.tagline %></li>
          <li><%= event.topics %></li>
          <li><%= event.description %></li>
        </ul>
      </div><hr>
    <% end %>
  </div>
</div>
